/* Landing */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 80px;

position: relative;
width: 1440px;
height: 922px;

background: #f5f5f5;

/* Frame 4 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 24px;

width: 1440px;
height: 736px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;

/* Navbar */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 34px 64px;
gap: 882px;

width: 1440px;
height: 110px;

background: #f5f5f5;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* logo */

width: 57px;
height: 42px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Vector */

position: absolute;
left: 6.27%;
right: 6.35%;
top: 7.14%;
bottom: 8.67%;

border: 4px solid #000000;

/* Vector */

position: absolute;
left: 22.06%;
right: 42.3%;
top: 28.81%;
bottom: 30.33%;

background: #000000;

/* Vector */

position: absolute;
left: 62.21%;
right: 22.14%;
top: 28.81%;
bottom: 30.33%;

background: #000000;

/* Frame 8 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 25px;

width: 135px;
height: 30px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Frame 9 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-end;
padding: 0px 0px 8px;
gap: 10px;

width: 135px;
height: 38px;

border-bottom: 2px solid #000000;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* coming soon */

width: 135px;
height: 30px;

font-family: "Neue Haas Grotesk Display Pro";
font-style: normal;
font-weight: 500;
font-size: 24.8668px;
line-height: 30px;
/* identical to box height */

color: #000000;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Work */

display: none;
width: 56px;
height: 30px;

font-family: "Neue Haas Grotesk Display Pro";
font-style: normal;
font-weight: 500;
font-size: 24.8668px;
line-height: 30px;
/* identical to box height */

color: #000000;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Tools */

display: none;
width: 57px;
height: 30px;

font-family: "Neue Haas Grotesk Display Pro";
font-style: normal;
font-weight: 500;
font-size: 24.8668px;
line-height: 30px;
/* identical to box height */

color: #000000;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;

/* Contact */

display: none;
width: 86px;
height: 30px;

font-family: "Neue Haas Grotesk Display Pro";
font-style: normal;
font-weight: 500;
font-size: 24.8668px;
line-height: 30px;
/* identical to box height */

color: #000000;

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;

/* Hero */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
padding: 0px 80px;
gap: 10px;

width: 1440px;
height: 602px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;

/* Frame 18 */

margin: 0 auto;
width: 758px;
height: 268px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Frame 32 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 735px;
height: 268px;
left: 0px;
top: 0px;

/* I’m Mariano Rodriguez, a designer focused on improving everyday life for real people. */

width: 735px;
height: 201px;

font-family: "Neue Haas Grotesk Display Pro";
font-style: normal;
font-weight: 500;
font-size: 56px;
line-height: 67px;

color: #282828;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;

/* Available to chat. */

width: 390px;
height: 67px;

font-family: "Neue Haas Grotesk Display Pro";
font-style: normal;
font-weight: 500;
font-size: 56px;
line-height: 67px;
text-decoration-line: underline;

color: #282828;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* B37A4BF5-75AE-4870-B00D-D30E3AEFD7F3_1_102_o 2 */

margin: 0 auto;
width: 400px;
height: 602px;

background: url(B37A4BF5-75AE-4870-B00D-D30E3AEFD7F3_1_102_o.jpg);

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Footer/News */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 32px 64px;
gap: 64px;
isolation: isolate;

width: 1440px;
height: 106px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;

/* Footer Line */

margin: 0 auto;
display: none;
width: 1503px;
height: 0px;

border: 2px solid #000000;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;

/* logo */

margin: 0 auto;
width: 57px;
height: 42px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;

/* Vector */

position: absolute;
left: 6.27%;
right: 6.35%;
top: 7.14%;
bottom: 8.67%;

border: 4px solid #000000;

/* Vector */

position: absolute;
left: 22.06%;
right: 42.3%;
top: 28.81%;
bottom: 30.33%;

background: #000000;

/* Vector */

position: absolute;
left: 62.21%;
right: 22.14%;
top: 28.81%;
bottom: 30.33%;

background: #000000;

/* separator */

position: absolute;
width: 1457.14px;
height: 14.14px;
left: 0px;
top: 0px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
z-index: 2;

/* Vector */

position: absolute;
left: 0%;
right: 99.31%;
top: 0%;
bottom: 90.57%;

border: 2px solid #000000;
transform: rotate(-45deg);

/* Vector */

position: absolute;
left: 0.9%;
right: 98.4%;
top: 0%;
bottom: 90.57%;

border: 2px solid #000000;
transform: rotate(-45deg);

/* Vector */

position: absolute;
left: 1.81%;
right: 97.5%;
top: 0%;
bottom: 90.57%;

border: 2px solid #000000;
transform: rotate(-45deg);

/* Vector */

position: absolute;
left: 2.71%;
right: 96.6%;
top: 0%;
bottom: 90.57%;

border: 2px solid #000000;
transform: rotate(-45deg);

/* Vector */

position: absolute;
left: 3.61%;
right: 95.69%;
top: 0%;
bottom: 90.57%;

border: 2px solid #000000;
transform: rotate(-45deg);

/* Vector */

position: absolute;
left: 4.51%;
right: 94.79%;
top: 0%;
bottom: 90.57%;

border: 2px solid #000000;
transform: rotate(-45deg);

/* Vector */

position: absolute;
left: 5.42%;
right: 93.89%;
top: 0%;
bottom: 90.57%;

border: 2px solid #000000;
transform: rotate(-45deg);

/* Vector */

position: absolute;
left: 6.32%;
right: 92.99%;
top: 0%;
bottom: 90.57%;

border: 2px solid #000000;
transform: rotate(-45deg);

/* Vector */

position: absolute;
left: 7.22%;
right: 92.08%;
top: 0%;
bottom: 90.57%;

border: 2px solid #000000;
transform: rotate(-45deg);

/* Vector */

position: absolute;
left: 8.12%;
right: 91.18%;
top: 0%;
bottom: 90.57%;

border: 2px solid #000000;
transform: rotate(-45deg);

/* Vector */

position: absolute;
left: 9.03%;
right: 90.28%;
top: 0%;
bottom: 90.57%;

border: 2px solid #000000;
transform: rotate(-45deg);

/* Vector */

position: absolute;
left: 9.93%;
right: 89.38%;
top: 0%;
bottom: 90.57%;

border: 2px solid #000000;
transform: rotate(-45deg);

/* Vector */

position: absolute;
left: 10.83%;
right: 88.47%;
top: 0%;
bottom: 90.57%;

border: 2px solid #000000;
transform: rotate(-45deg);

/* Vector */

position: absolute;
left: 11.74%;
right: 87.57%;
top: 0%;
bottom: 90.57%;

border: 2px solid #000000;
transform: rotate(-45deg);

/* Vector */

position: absolute;
left: 12.64%;
right: 86.67%;
top: 0%;
bottom: 90.57%;

border: 2px solid #000000;
transform: rotate(-45deg);

/* Vector */

position: absolute;
left: 13.54%;
right: 85.76%;
top: 0%;
bottom: 90.57%;

border: 2px solid #000000;
transform: rotate(-45deg);

/* Vector */

position: absolute;
left: 14.44%;
right: 84.86%;
top: 0%;
bottom: 90.57%;

border: 2px solid #000000;
transform: rotate(-45deg);

/* Vector */

position: absolute;
left: 15.35%;
right: 83.96%;
top: 0%;
bottom: 90.57%;

border: 2px solid #000000;
transform: rotate(-45deg);

/* Vector */

position: absolute;
left: 16.25%;
right: 83.06%;
top: 0%;
bottom: 90.57%;

border: 2px solid #000000;
transform: rotate(-45deg);

/* Vector */

position: absolute;
left: 17.15%;
right: 82.15%;
top: 0%;
bottom: 90.57%;

border: 2px solid #000000;
transform: rotate(-45deg);

/* Vector */

position: absolute;
left: 18.06%;
right: 81.25%;
top: 0%;
bottom: 90.57%;

border: 2px solid #000000;
transform: rotate(-45deg);

/* Vector */

position: absolute;
left: 18.96%;
right: 80.35%;
top: 0%;
bottom: 90.57%;

border: 2px solid #000000;
transform: rotate(-45deg);

/* Vector */

position: absolute;
left: 19.86%;
right: 79.44%;
top: 0%;
bottom: 90.57%;

border: 2px solid #000000;
transform: rotate(-45deg);

/* Vector */

position: absolute;
left: 20.76%;
right: 78.54%;
top: 0%;
bottom: 90.57%;

border: 2px solid #000000;
transform: rotate(-45deg);

/* Vector */

position: absolute;
left: 21.67%;
right: 77.64%;
top: 0%;
bottom: 90.57%;

border: 2px solid #000000;
transform: rotate(-45deg);

/* Vector */

position: absolute;
left: 22.57%;
right: 76.74%;
top: 0%;
bottom: 90.57%;

border: 2px solid #000000;
transform: rotate(-45deg);

/* Vector */

position: absolute;
left: 23.47%;
right: 75.83%;
top: 0%;
bottom: 90.57%;

border: 2px solid #000000;
transform: rotate(-45deg);

/* Vector */

position: absolute;
left: 24.38%;
right: 74.93%;
top: 0%;
bottom: 90.57%;

border: 2px solid #000000;
transform: rotate(-45deg);

/* Vector */

position: absolute;
left: 25.28%;
right: 74.03%;
top: 0%;
bottom: 90.57%;

border: 2px solid #000000;
transform: rotate(-45deg);

/* Vector */

position: absolute;
left: 26.18%;
right: 73.12%;
top: 0%;
bottom: 90.57%;

border: 2px solid #000000;
transform: rotate(-45deg);

/* Vector */

position: absolute;
left: 27.08%;
right: 72.22%;
top: 0%;
bottom: 90.57%;

border: 2px solid #000000;
transform: rotate(-45deg);

/* Vector */

position: absolute;
left: 27.99%;
right: 71.32%;
top: 0%;
bottom: 90.57%;

border: 2px solid #000000;
transform: rotate(-45deg);

/* Vector */

position: absolute;
left: 28.89%;
right: 70.42%;
top: 0%;
bottom: 90.57%;

border: 2px solid #000000;
transform: rotate(-45deg);

/* Vector */

position: absolute;
left: 29.79%;
right: 69.51%;
top: 0%;
bottom: 90.57%;

border: 2px solid #000000;
transform: rotate(-45deg);

/* Vector */

position: absolute;
left: 30.69%;
right: 68.61%;
top: 0%;
bottom: 90.57%;

border: 2px solid #000000;
transform: rotate(-45deg);

/* Vector */

position: absolute;
left: 31.6%;
right: 67.71%;
top: 0%;
bottom: 90.57%;

border: 2px solid #000000;
transform: rotate(-45deg);

/* Vector */

position: absolute;
left: 32.5%;
right: 66.81%;
top: 0%;
bottom: 90.57%;

border: 2px solid #000000;
transform: rotate(-45deg);

/* Vector */

position: absolute;
left: 33.4%;
right: 65.9%;
top: 0%;
bottom: 90.57%;

border: 2px solid #000000;
transform: rotate(-45deg);

/* Vector */

position: absolute;
left: 34.31%;
right: 65%;
top: 0%;
bottom: 90.57%;

border: 2px solid #000000;
transform: rotate(-45deg);

/* Vector */

position: absolute;
left: 35.21%;
right: 64.1%;
top: 0%;
bottom: 90.57%;

border: 2px solid #000000;
transform: rotate(-45deg);

/* Vector */

position: absolute;
left: 36.11%;
right: 63.19%;
top: 0%;
bottom: 90.57%;

border: 2px solid #000000;
transform: rotate(-45deg);

/* Vector */

position: absolute;
left: 37.01%;
right: 62.29%;
top: 0%;
bottom: 90.57%;

border: 2px solid #000000;
transform: rotate(-45deg);

/* Vector */

position: absolute;
left: 37.92%;
right: 61.39%;
top: 0%;
bottom: 90.57%;

border: 2px solid #000000;
transform: rotate(-45deg);

/* Vector */

position: absolute;
left: 38.82%;
right: 60.49%;
top: 0%;
bottom: 90.57%;

border: 2px solid #000000;
transform: rotate(-45deg);

/* Vector */

position: absolute;
left: 39.72%;
right: 59.58%;
top: 0%;
bottom: 90.57%;

border: 2px solid #000000;
transform: rotate(-45deg);

/* Vector */

position: absolute;
left: 40.62%;
right: 58.68%;
top: 0%;
bottom: 90.57%;

border: 2px solid #000000;
transform: rotate(-45deg);

/* Vector */

position: absolute;
left: 41.53%;
right: 57.78%;
top: 0%;
bottom: 90.57%;

border: 2px solid #000000;
transform: rotate(-45deg);

/* Vector */

position: absolute;
left: 42.43%;
right: 56.88%;
top: 0%;
bottom: 90.57%;

border: 2px solid #000000;
transform: rotate(-45deg);

/* Vector */

position: absolute;
left: 43.33%;
right: 55.97%;
top: 0%;
bottom: 90.57%;

border: 2px solid #000000;
transform: rotate(-45deg);

/* Vector */

position: absolute;
left: 44.24%;
right: 55.07%;
top: 0%;
bottom: 90.57%;

border: 2px solid #000000;
transform: rotate(-45deg);

/* Vector */

position: absolute;
left: 45.14%;
right: 54.17%;
top: 0%;
bottom: 90.57%;

border: 2px solid #000000;
transform: rotate(-45deg);

/* Vector */

position: absolute;
left: 46.04%;
right: 53.26%;
top: 0%;
bottom: 90.57%;

border: 2px solid #000000;
transform: rotate(-45deg);

/* Vector */

position: absolute;
left: 46.94%;
right: 52.36%;
top: 0%;
bottom: 90.57%;

border: 2px solid #000000;
transform: rotate(-45deg);

/* Vector */

position: absolute;
left: 47.85%;
right: 51.46%;
top: 0%;
bottom: 90.57%;

border: 2px solid #000000;
transform: rotate(-45deg);

/* Vector */

position: absolute;
left: 48.75%;
right: 50.56%;
top: 0%;
bottom: 90.57%;

border: 2px solid #000000;
transform: rotate(-45deg);

/* Vector */

position: absolute;
left: 49.65%;
right: 49.65%;
top: 0%;
bottom: 90.57%;

border: 2px solid #000000;
transform: rotate(-45deg);

/* Vector */

position: absolute;
left: 50.56%;
right: 48.75%;
top: 0%;
bottom: 90.57%;

border: 2px solid #000000;
transform: rotate(-45deg);

/* Vector */

position: absolute;
left: 51.46%;
right: 47.85%;
top: 0%;
bottom: 90.57%;

border: 2px solid #000000;
transform: rotate(-45deg);

/* Vector */

position: absolute;
left: 52.36%;
right: 46.94%;
top: 0%;
bottom: 90.57%;

border: 2px solid #000000;
transform: rotate(-45deg);

/* Vector */

position: absolute;
left: 53.26%;
right: 46.04%;
top: 0%;
bottom: 90.57%;

border: 2px solid #000000;
transform: rotate(-45deg);

/* Vector */

position: absolute;
left: 54.17%;
right: 45.14%;
top: 0%;
bottom: 90.57%;

border: 2px solid #000000;
transform: rotate(-45deg);

/* Vector */

position: absolute;
left: 55.07%;
right: 44.24%;
top: 0%;
bottom: 90.57%;

border: 2px solid #000000;
transform: rotate(-45deg);

/* Vector */

position: absolute;
left: 55.97%;
right: 43.33%;
top: 0%;
bottom: 90.57%;

border: 2px solid #000000;
transform: rotate(-45deg);

/* Vector */

position: absolute;
left: 56.88%;
right: 42.43%;
top: 0%;
bottom: 90.57%;

border: 2px solid #000000;
transform: rotate(-45deg);

/* Vector */

position: absolute;
left: 57.78%;
right: 41.53%;
top: 0%;
bottom: 90.57%;

border: 2px solid #000000;
transform: rotate(-45deg);

/* Vector */

position: absolute;
left: 58.68%;
right: 40.62%;
top: 0%;
bottom: 90.57%;

border: 2px solid #000000;
transform: rotate(-45deg);

/* Vector */

position: absolute;
left: 59.58%;
right: 39.72%;
top: 0%;
bottom: 90.57%;

border: 2px solid #000000;
transform: rotate(-45deg);

/* Vector */

position: absolute;
left: 60.49%;
right: 38.82%;
top: 0%;
bottom: 90.57%;

border: 2px solid #000000;
transform: rotate(-45deg);

/* Vector */

position: absolute;
left: 61.39%;
right: 37.92%;
top: 0%;
bottom: 90.57%;

border: 2px solid #000000;
transform: rotate(-45deg);

/* Vector */

position: absolute;
left: 62.29%;
right: 37.01%;
top: 0%;
bottom: 90.57%;

border: 2px solid #000000;
transform: rotate(-45deg);

/* Vector */

position: absolute;
left: 63.19%;
right: 36.11%;
top: 0%;
bottom: 90.57%;

border: 2px solid #000000;
transform: rotate(-45deg);

/* Vector */

position: absolute;
left: 64.1%;
right: 35.21%;
top: 0%;
bottom: 90.57%;

border: 2px solid #000000;
transform: rotate(-45deg);

/* Vector */

position: absolute;
left: 65%;
right: 34.31%;
top: 0%;
bottom: 90.57%;

border: 2px solid #000000;
transform: rotate(-45deg);

/* Vector */

position: absolute;
left: 65.9%;
right: 33.4%;
top: 0%;
bottom: 90.57%;

border: 2px solid #000000;
transform: rotate(-45deg);

/* Vector */

position: absolute;
left: 66.81%;
right: 32.5%;
top: 0%;
bottom: 90.57%;

border: 2px solid #000000;
transform: rotate(-45deg);

/* Vector */

position: absolute;
left: 67.71%;
right: 31.6%;
top: 0%;
bottom: 90.57%;

border: 2px solid #000000;
transform: rotate(-45deg);

/* Vector */

position: absolute;
left: 68.61%;
right: 30.69%;
top: 0%;
bottom: 90.57%;

border: 2px solid #000000;
transform: rotate(-45deg);

/* Vector */

position: absolute;
left: 69.51%;
right: 29.79%;
top: 0%;
bottom: 90.57%;

border: 2px solid #000000;
transform: rotate(-45deg);

/* Vector */

position: absolute;
left: 70.42%;
right: 28.89%;
top: 0%;
bottom: 90.57%;

border: 2px solid #000000;
transform: rotate(-45deg);

/* Vector */

position: absolute;
left: 71.32%;
right: 27.99%;
top: 0%;
bottom: 90.57%;

border: 2px solid #000000;
transform: rotate(-45deg);

/* Vector */

position: absolute;
left: 72.22%;
right: 27.08%;
top: 0%;
bottom: 90.57%;

border: 2px solid #000000;
transform: rotate(-45deg);

/* Vector */

position: absolute;
left: 73.12%;
right: 26.18%;
top: 0%;
bottom: 90.57%;

border: 2px solid #000000;
transform: rotate(-45deg);

/* Vector */

position: absolute;
left: 74.03%;
right: 25.28%;
top: 0%;
bottom: 90.57%;

border: 2px solid #000000;
transform: rotate(-45deg);

/* Vector */

position: absolute;
left: 74.93%;
right: 24.38%;
top: 0%;
bottom: 90.57%;

border: 2px solid #000000;
transform: rotate(-45deg);

/* Vector */

position: absolute;
left: 75.83%;
right: 23.47%;
top: 0%;
bottom: 90.57%;

border: 2px solid #000000;
transform: rotate(-45deg);

/* Vector */

position: absolute;
left: 76.74%;
right: 22.57%;
top: 0%;
bottom: 90.57%;

border: 2px solid #000000;
transform: rotate(-45deg);

/* Vector */

position: absolute;
left: 77.64%;
right: 21.67%;
top: 0%;
bottom: 90.57%;

border: 2px solid #000000;
transform: rotate(-45deg);

/* Vector */

position: absolute;
left: 78.54%;
right: 20.76%;
top: 0%;
bottom: 90.57%;

border: 2px solid #000000;
transform: rotate(-45deg);

/* Vector */

position: absolute;
left: 79.44%;
right: 19.86%;
top: 0%;
bottom: 90.57%;

border: 2px solid #000000;
transform: rotate(-45deg);

/* Vector */

position: absolute;
left: 80.35%;
right: 18.96%;
top: 0%;
bottom: 90.57%;

border: 2px solid #000000;
transform: rotate(-45deg);

/* Vector */

position: absolute;
left: 81.25%;
right: 18.06%;
top: 0%;
bottom: 90.57%;

border: 2px solid #000000;
transform: rotate(-45deg);

/* Vector */

position: absolute;
left: 82.15%;
right: 17.15%;
top: 0%;
bottom: 90.57%;

border: 2px solid #000000;
transform: rotate(-45deg);

/* Vector */

position: absolute;
left: 83.06%;
right: 16.25%;
top: 0%;
bottom: 90.57%;

border: 2px solid #000000;
transform: rotate(-45deg);

/* Vector */

position: absolute;
left: 83.96%;
right: 15.35%;
top: 0%;
bottom: 90.57%;

border: 2px solid #000000;
transform: rotate(-45deg);

/* Vector */

position: absolute;
left: 84.86%;
right: 14.44%;
top: 0%;
bottom: 90.57%;

border: 2px solid #000000;
transform: rotate(-45deg);

/* Vector */

position: absolute;
left: 85.76%;
right: 13.54%;
top: 0%;
bottom: 90.57%;

border: 2px solid #000000;
transform: rotate(-45deg);

/* Vector */

position: absolute;
left: 86.67%;
right: 12.64%;
top: 0%;
bottom: 90.57%;

border: 2px solid #000000;
transform: rotate(-45deg);

/* Vector */

position: absolute;
left: 87.57%;
right: 11.74%;
top: 0%;
bottom: 90.57%;

border: 2px solid #000000;
transform: rotate(-45deg);

/* Vector */

position: absolute;
left: 88.47%;
right: 10.83%;
top: 0%;
bottom: 90.57%;

border: 2px solid #000000;
transform: rotate(-45deg);

/* Vector */

position: absolute;
left: 89.38%;
right: 9.93%;
top: 0%;
bottom: 90.57%;

border: 2px solid #000000;
transform: rotate(-45deg);

/* Vector */

position: absolute;
left: 90.28%;
right: 9.03%;
top: 0%;
bottom: 90.57%;

border: 2px solid #000000;
transform: rotate(-45deg);

/* Vector */

position: absolute;
left: 91.18%;
right: 8.12%;
top: 0%;
bottom: 90.57%;

border: 2px solid #000000;
transform: rotate(-45deg);

/* Vector */

position: absolute;
left: 92.08%;
right: 7.22%;
top: 0%;
bottom: 90.57%;

border: 2px solid #000000;
transform: rotate(-45deg);

/* Vector */

position: absolute;
left: 92.99%;
right: 6.32%;
top: 0%;
bottom: 90.57%;

border: 2px solid #000000;
transform: rotate(-45deg);

/* Vector */

position: absolute;
left: 93.89%;
right: 5.42%;
top: 0%;
bottom: 90.57%;

border: 2px solid #000000;
transform: rotate(-45deg);

/* Vector */

position: absolute;
left: 94.79%;
right: 4.51%;
top: 0%;
bottom: 90.57%;

border: 2px solid #000000;
transform: rotate(-45deg);

/* Vector */

position: absolute;
left: 95.69%;
right: 3.61%;
top: 0%;
bottom: 90.57%;

border: 2px solid #000000;
transform: rotate(-45deg);

/* Vector */

position: absolute;
left: 96.6%;
right: 2.71%;
top: 0%;
bottom: 90.57%;

border: 2px solid #000000;
transform: rotate(-45deg);

/* Vector */

position: absolute;
left: 97.5%;
right: 1.81%;
top: 0%;
bottom: 90.57%;

border: 2px solid #000000;
transform: rotate(-45deg);

/* Vector */

position: absolute;
left: 98.4%;
right: 0.9%;
top: 0%;
bottom: 90.57%;

border: 2px solid #000000;
transform: rotate(-45deg);

/* Vector */

position: absolute;
left: 99.31%;
right: 0%;
top: 0%;
bottom: 90.57%;

border: 2px solid #000000;
transform: rotate(-45deg);

/* Vector */

position: absolute;
left: 100.21%;
right: -0.9%;
top: 0%;
bottom: 90.57%;

border: 2px solid #000000;
transform: rotate(-45deg);

/* Frame 8 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 25px;

margin: 0 auto;
display: none;
width: 245px;
height: 19px;

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;
z-index: 3;

/* Home */

width: 42px;
height: 19px;

font-family: "Neue Haas Grotesk Display Pro";
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;

color: #000000;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Work */

width: 36px;
height: 19px;

font-family: "Neue Haas Grotesk Display Pro";
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;

color: #000000;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Tools */

width: 37px;
height: 19px;

font-family: "Neue Haas Grotesk Display Pro";
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;

color: #000000;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;

/* Contact */

width: 55px;
height: 19px;

font-family: "Neue Haas Grotesk Display Pro";
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;

color: #000000;

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;
